* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFCA60 !important;
}

#burger {
    font-size: 10em;
    margin: 0 auto;
    width: fit-content;
}
#heading {
    margin: 0 auto;
    width: fit-content;
    color: #fd000d;
}

main {
    width: 80%;
    margin: 0 auto;
}

#orderlist, #eatenlist {
    list-style: none;
    padding: 10px;
}

#orderlist li {
    padding: 5px;
    margin: 2px;
}

#eatenlist li {
    margin: 0;
    padding: 1px;
    font-size: x-small;
    color: dimgray;
    border-style: solid;
    border-width: 1px;
    height: 25px;
}

.devour {
    float: right;
    
}

li {
    width: 100%;
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding: 5px;
    margin: 2px;
}

#burgerInput {
    display: block;
    margin: 10px auto;
    width: 300px;
    height: 50px;
}

button {
    padding: 5px;
    background-color: cornflowerblue;
    border-style: none;
    color: white;
    cursor: pointer;
}

#burgerClear {
    margin: 0 auto;
    display: block;
}

#inputSubmit {
    display: block;
    margin: 0 auto;
}

#burgerText {
    margin: 10px auto;
    width: fit-content;
}